.ShopingListContentContainer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.ShoppingListTitle {
    padding-top: 2em;
    display: flex;
    align-items: center;
    padding-bottom: 0;
    line-height: 10%;
}