*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.RecipeCardContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 300px;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: wrap;
    border: 1px solid rgba(0, 0, 0, 0.274);
}
.TabContainer{
    display: flex;
}

.Tab{
    /* background-color: gray; */
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
}
.Tab:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }

.Tab-Selected{
    background: white;
    border-bottom: 1px solid transparent;
}

.Tab-Selected::before{
    /* background-color: blueviolet; */
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}


.TabContentContainer{
    flex-grow: 1;
}

.TabContent{
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
}

.TabContent h2{
    padding: 0px 0 5px 0px;
}

.TabContent hr{
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}

.TabContent-Selected{
    display:block;
}
