.Image{
    width: 100%;
    max-width: 400px;
    min-width: 350px;
    border-radius: 20px;
    margin-top: 10px;
}

.recipe-card-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 10px;
    grid-template-rows: [row1] 100% ;
    margin: 20px;
}

.cell{
    padding: 25px;
	border-radius: 6px;
}
.left-cell{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
}

.right-cell{
    padding-top: 55px;
}

.holder{
    padding-left: 10px;
    padding-right: 10px;
}