.HomePageMain {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.RowContainer {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.ButtonContainer {
    padding: 1.5rem 0;
}