/* import custom fonts from Googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');


body {
    padding: 0;
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Inter', sans-serif;
    max-width: 900;
    position: relative;
}

h1 {
    font-size: 3em;
}

a {
    text-decoration: none;
}

>*> {
    box-sizing: border-box;
}